
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	font-size: 100%;
}

ol{
	color:black;
	font-size: 170%;
}


p{
	font-size: 19px;
}


nav{
    font-family: Courier New;
    border-style: solid;
    border-color:black;
    background-color:black;
  }

.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 45px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}






.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

		/*courses that are in the nav bar*/
		li a {
			font-size: 130%;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 210px;
			text-decoration: none;
			font-family: "Times New Roman", Times, serif;
		}


		
    